<p-panel header="Employee Details">
  <h3>First Name</h3>
<span class="ui-float-label">
  <input id="float-input" type="text" [(ngModel)]="employee.firstname" size="30" placeholder="First Name" >
</span>
<h3>Last Name</h3>
<span class="ui-float-label">
  <input id="float-input" type="text" [(ngModel)]="employee.lastname" size="30" placeholder="Last Name"> 
</span>
<h3>Age</h3>
<span class="ui-float-label">
  <input id="float-input" type="text" size="30" [(ngModel)]="employee.age" placeholder="Age"> 
</span>
<h3 class="first">Designation</h3>
<span class="ui-float-label">
  <input id="float-input" type="text" size="30" [(ngModel)]="employee.designation" placeholder="Designation"> 
</span>
<p-footer>
  <button pButton type="button" label="Save"  style="margin-right: .25em" (click)="updateEmployee()"></button>
  <button pButton type="button" label="Cancel"  class="ui-button-secondary" (click)="cancelEmployee()"></button>
</p-footer>
</p-panel>
