<p-panel header="Details of employee">
    <h3>First Name</h3>
<span class="ui-float-label">
    <input id="float-input" type="text" [(ngModel)]="firstname" size="30" placeholder="Firstname" >
</span>
<h3>Last Name</h3>
<span class="ui-float-label">
    <input id="float-input" type="text" [(ngModel)]="lastname" size="30" placeholder="Lastname"> 
    
</span>
<h3>Age</h3>
<span class="ui-float-label">
    <input id="float-input" type="number" size="30" [(ngModel)]="age"  placeholder="Age"> 

</span>
<h3 class="first">Designation</h3>
<span class="ui-float-label">
    <input id="float-input" type="text" size="30" [(ngModel)]="designation" placeholder="Designation"> 
    
</span>
<p-footer>
    <button pButton type="button" label="Save"  style="margin-right: .25em" (click)="saveEmployee()"></button>
    <button pButton type="button" label="Cancel"  class="ui-button-secondary" (click)="cancelEmployee()"></button>
</p-footer>
  </p-panel>
  